.bg-black{
    background-color: #000000;
}

.bg-yellow{
    background-color: #e3ae10;
}

.TitleText{
    color: #b98b06;
}


h2 {
    font-size: 32px;
    font-family: 'Courier New', monospace;
}
@media (max-width: 768px) {
    .col-sm-4 h2 {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .col-xs-4 h2 {
        font-size: 16px;
    }
}

.nav-left-ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}
.nav-left-li{
    float: left;
}
.nav-left-li a{
    display: block;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}
.nav-left-li a:hover{
    background-color: #b98b06;
    color: white;
}
.nav-right-ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}
.nav-right-li{
    float: right;
}
.nav-right-li a{
    display: block;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}
.nav-right-li a:hover{
    background-color: #b98b06;
    color: white;
}

.bg-image{
    background-image: url(BackGround.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.padding-nav{
    padding-top: 181px;
    margin-left: 50px;
}

.image-formatting{
    border: 2px solid black;
    border-radius: 15px;
    margin-left: -20px;
    box-sizing: border-box;
    height: 300px;
    width: auto;
}
.image-right{
    border: 2px solid black;
    box-sizing: border-box;
}
.image-top{
    margin-top: 200px;
}

.info{
    font-family: Verdana,Helvetica;
    font-size: 12px;
}
.info p{
    margin: 0;
}
.info a{
    font-weight: bold;
    color: #333333;
}

hr{
    height: 2px;
    background-color: black;
}